//
//  ProjectRelease.xcconfig
//  PEG
//
//  Created by sap_mac_dev3 on 10/06/13.
//  Copyright (c) 2013 spir. All rights reserved.
//
#include "Project.xcconfig"

VALIDATE_PRODUCT					= YES
COPY_PHASE_STRIP					= YES
CODE_SIGN_IDENTITY					= iPhone Distribution
CODE_SIGN_IDENTITY[sdk=iphoneos*]	= iPhone Distribution

OTHER_CFLAGS						= $(inherited) -DDEBUG -DNS_BLOCK_ASSERTIONS=1

SPIR_ENDPOINT_IDENT				= stargatedev.spir.fr/int/R3/Ident

SPIR_KEYCHAIN_SERVICE_NAME      = "peg_int"

PRODUCT_IDENTIFIER				= fr.spir.pegase.cmm.dev

PEG_URL_SCHEME					= pegcmmint

SPIR_ICON_PREFIX				= Int
SPIR_ENVIRONNEMENT				= REC

// Config Parse
PARSE_APPLICATION_ID            = O1spEFNnNjVTHVaUecLnsoGqTnVBvpZNJhup0qNw
PARSE_CLIENT_KEY                = AU7ilGaWe7vpIHMdlelbDmivi7yfXsdElddWnTz2